<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" id="butwi">
    <name>Butwi</name>
    <author href="http://upamanyu.in">Upamanyu Das</author>
    <description xml:lang="en">Simple, Beautiful Twitter.</description>
    <icon src="images/icon_64x64.png"/>
    <icon src="images/icon_18x18.png"/>
</widget>
